body {
  color: white;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 1vw green;
  font-family: "PT Mono", monospace;
  font-size: 4vw;
}

input {
  height: 2vw;
  width: 10vw;
  font-family: "PT Mono", monospace;
  font-size: 2vw;
}
